@{
    this.Layout = "/Views/Shared/_Site.cshtml";
    ViewData["title"] = "HOME";
}
<p>
    WELCOME TO OUR ONLINE MUSIC PLATFORM
    </p>
<p>
    MADE BY PETAR RAYCHEV AND ANTOANETA ENCHEVA
</p>
